@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url(fonts/jmle3kzCPnW8O7_gZGRDlQ.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(fonts/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(fonts/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
pre {
	line-height: 1.29em;
}

.div-preview{
margin-left: 5px;
}

.titlediv{
 margin: 10px;
}

.preview-link{
float:right;
}

.editor-buttons {
padding-top: 5px;
}


.saverevert {
padding-left: 20px;
padding-right: 20px;
}

.skynet-buttons {
padding-left: 20px;
padding-right: 20px;
}

.save-button {
padding-left: 5px;
padding-right: 5px;
}

.revert-button {
padding-left: 5px;
padding-right: 5px;
}

.spinner {
padding-left: 5px;
padding-right: 10px;
}

.div-validation{
 /* background: yellow; */
 border: solid, 1px;
 text-align: left;
 display: none;
}


.div-preview-wrapper{
  position: absolute;
}

.div-preview{ 
// position: absolute;
 text-align: left;
 width: 800px;
 //left: 50%;
// top: 50%; 
// margin: 0px auto;
// margin-left: -150px;
}

.toolbuttons {
 text-align: left;
}

.cmd-output-pane{
  overflow: auto;
}
.cmdmsg {
  color: gray;
}

.timestampmsg {
  color: blue;
}

.errormsg {
  color: red;
}

.successmsg {
  color: green;
}

.ui-button .ui-button-text{
  padding: 0.2em 0.2em;
  font-size: 0.8em;
  text-align: left;
}

.validation-toggle a{
	text-decoration: none;
	border-bottom: 1px dotted;
  color: #df0019;
}

.editor-buttons {
 margin-bottom:  10px;
}

.Codemirror{
  text-align: left;
}

.codemirror pre{
  line-height: 1.29em;
  font-family: 'PT Mono', monospace;
}

.CodeMirror {
  border-top: 1px solid #eee; border-bottom: 1px solid #eee;
}

.CodeMirror-wrap pre {
  word-break: break-all; 
}

.editor-readOnly {
display:block;
//position:absolute;
top:0px;
bottom:0px;
opacity:0.2;
filter:alpha(opacity=3);
background-color: gray;
height:expression(parentElement.scrollHeight + 'px');
width:100%;
/*border-radius*/
-webkit-border-radius:.66em;
   -moz-border-radius:.66em;
        border-radius:.66em;
/*box-shadow*/
-webkit-box-shadow:0 0 5em rgba(0,0,0,0.32);
   -moz-box-shadow:0 0 5em rgba(0,0,0,0.32);
        box-shadow:0 0 5em rgba(0,0,0,0.32);
}